backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.12.7
charset-normalizer==2.1.1
cloudscraper==1.2.66
contextlib2==21.6.0
fake-useragent==1.1.1
idna==3.4
importlib-resources==5.10.1
Js2Py==0.74
lxml==4.9.2
pyjsparser==2.7.1
pyparsing==3.0.9
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
requests-toolbelt==0.10.1
schema==0.7.5
six==1.16.0
soupsieve==2.3.2.post1
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
zipp==3.11.0
